.album-modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    z-index: 9999;

    display: flex;
    align-items: center;
    justify-content: center;
}

.album-modal-img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    transition: transform 0.2s ease, opacity 0.2s ease;
    transform: scale(0.95);
    opacity: 0;
}

.show {
    transform: scale(1);
    opacity: 1;
  }