.dashboard {
    display: flex;
    background-color: #f2f2f2;
}

.sidebar {
    width: 20%;
    min-width: 200px;
    background: #f2f2f2;
    color: #000;
    padding-inline-start: 2rem;
}

.tracks {
    flex: 1;
    background: #fff;
    overflow: auto;
}

.track-table {
    color: gray;
    background-color: #fff;
    width: 100%;
    border-collapse: collapse;
    font-family: sans-serif;
  }
  
  .track-table thead {
    background-color: #f3f4f6; /* light gray */
    padding-block-start: 0.75rem;
  }
  
  .track-table th,
  .track-table td {
    text-align: left;
    border-bottom: 1px solid #e5e7eb;
  }
  
  .track-table img {
    vertical-align: middle;
    margin-right: 0.5rem;
    border-radius: 4px;
  }
  
  .track-table tbody tr:hover {
    background-color: #f9fafb;
    cursor: pointer;
  }
  
  .track-table button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    color: gray
  }
  

