.table-wrapper {
  overflow-x: auto;
  width: 100%;
  box-shadow: 0 4px 6px var(--table-shadow);
  margin-block-end: 3rem;
  border-radius: 12px;
}

.track-table {
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 12px;
  width: 100%;
  color: var(--text-color);
  border-collapse: collapse;
  font-family: sans-serif;
}

.track-table thead {
  background-color: var(--table-th-bg);
}

.track-table th,
.track-table td {
  text-align: left;
  border-bottom: 1px solid var(--table-separator);
}

.track-table tr:last-child td {
  border-bottom: transparent;
}

.track-table th {
  cursor: pointer;
}

.track-table img {
  vertical-align: middle;
  margin-inline: 1rem;
  border-radius: 4px;
}

.track-table tbody tr:hover {
  background-color: var(--table-td-bg-active);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}


td img:hover {
  filter: grayscale(100%) brightness(0.8);
  transition: filter 0.2s ease;
}

.track-table th {
  padding-inline: 1rem;
}

.track-table th:first-child {
  border-top-left-radius: 12px;
  padding-inline-start: 0rem;
}

.track-table th:last-child {
  border-top-right-radius: 12px;
  padding-inline-end: 0rem;
}

tr:last-child td:first-child {
  border-bottom-left-radius: 12px;
  border-bottom: none;
}

tr:last-child td:last-child {
  border-bottom-right-radius: 12px;
  border-bottom: none;
}

th:hover {
  color: var(--link-color);
}

th:last-child:hover {
  color: var(--text-color);
  cursor: default;
}


.table-link:hover {
  color: var(--link-color);
}

.track-table td {
  max-inline-size: 14rem;
  height: 3.5rem;
  padding-inline: 1rem;
  background-color: var(--table-td-bg);
}

.track-table td:first-child {
  padding-inline-start: 0rem;
}

.track-table td:last-child {
  cursor: default;
}

.sorted-col {
  font-weight: bold;
}

.genre-pill {
  display: inline-block;
  margin: 2px;
  padding: 2px 8px;
  background-color: var(--genre-bg);
  color: var(--genre-text-hover);
  border-radius: 12px;
  font-size: 0.8rem;
  white-space: nowrap;
}

.genre-pill:hover {
  color: var(--genre-text-hover);
  background-color: var(--genre-bg-hover);
  cursor: pointer;
}

.no-genres {
  font-style: italic;
  display: inline-block;
  margin: 2px;
  padding: 2px 8px;
  background-color: var(--genre-bg-inactive);
  color: var(--genre-text);
  border-radius: 12px;
  font-size: 0.8rem;
  white-space: nowrap;
}