.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-block-size: 8rem;
}

.header-right {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-right p {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: gray;
    color: white;
    font-weight: bold;
    line-height: 1;
    margin-inline-end: 1rem;
}

@media (width <= 768px) {
    .header-right {
      flex-direction: column;
    }

    .header-right p {
        margin-inline-end: 0rem;
    }
}