.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-block-size: 8rem;
}

.header-right {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 1rem;
}

.profile-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: #1a1a1a;
    color: rgba(255, 255, 255, 0.87);
    font-weight: bold;
    line-height: 1;
    margin-block: 0rem;
    border: 1px solid #1a1a1a;
}

.header-left {
    display: flex;
    flex-direction: column;
}

.header-left h1 {
    margin-block-end: 0rem;
}

@media (width <=768px) {
    .header-right {
        flex-direction: column;
        align-items: center;
    }

    .profile-button {
        margin-inline-end: 0rem;
    }
}

.powered-by {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    /* space between text and logo */
}

.spotify-logo {
    max-inline-size: 6rem;
}