:root {
  /* Typography & smoothing */
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color-scheme: light dark;
  background-color: var(--bg-color);
  color: var(--text-color);
}

body {
  margin-inline: 3rem;
  background-color: var(--bg-color);
  color: var(--text-color);
}

body.light {
  --bg-color: #fff;
  --text-color: #213547;
  --link-color: rgba(30, 215, 96, 1);
  
  --button-bg: rgba(0, 0, 0, 0.1);
  --button-text: rgba(0, 0, 0, 1);
  --button-border: transparent;
  --button-hover-border: rgba(30, 215, 96, 1);
  --button-hover-background: rgba(30, 215, 96, 1);
  --button-active-color: rgba(255, 255, 255, 1);
  
  --header-shadow: rgba(0, 0, 0, 0.1);
  --header-bg: rgba(0, 0, 0, 0.1);;
  
  --table-th-bg: rgba(0, 0, 0, 0.1);
  --table-td-bg: rgba(0, 0, 0, 0.05);
  --table-td-bg-active: rgba(0, 0, 0, 0.05);
  --table-shadow: rgba(0, 0, 0, 0.1);
  --table-separator: rgba(229, 231, 235, 0.8);
  
  --genre-text: rgba(60, 60, 60, 1);
  --genre-text-hover: rgba(0, 0, 0, 1);
  --genre-bg: rgba(221, 221, 221, 1);
  --genre-bg-hover: rgba(30, 215, 96, 1);
  --genre-bg-inactive: rgba(221, 221, 221, 1);
}

body.dark {
  --bg-color: rgba(60, 60, 60, 0.3);
  --text-color: rgba(255, 255, 255, 0.87);
  --link-color: rgba(30, 215, 96, 1);
  
  --button-bg: rgba(30, 215, 96, 1);
  --button-text: rgba(60, 60, 60, 1);
  --button-border: transparent;
  --button-hover-border: rgba(30, 215, 96, 0.9);
  --button-hover-background: rgba(221, 221, 221, 1);;
  --button-active-color: #fff;
  
  --header-shadow: rgba(0, 0, 0, 0.1);
  --header-bg: rgba(60, 60, 60, 0.35);

  --table-th-bg: rgba(60, 60, 60, 0.35);
  --table-td-bg: rgba(60, 60, 60, 0.5);
  --table-td-bg-active: rgba(60, 60, 60, 1);
  --table-separator: rgba(229, 231, 235, 0.2);

  --genre-text: rgba(60, 60, 60, 1);
  --genre-text-hover: rgba(0, 0, 0, 1);
  --genre-bg: rgba(30, 215, 96, 1);
  --genre-bg-hover: rgba(221, 221, 221, 1);
  --genre-bg-inactive: rgba(221, 221, 221, 1);
}

a {
  font-weight: 500;
  color: var(--link-color);
  text-decoration: inherit;
}
a:hover {
  color: var(--link-color);
}

.wrapper {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

button {
  border-radius: 8px;
  border: 1px solid var(--button-border);
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--button-bg);
  color: var(--button-text);
  cursor: pointer;
  transition: border-color 0.25s, color 0.25s;
}

button:hover,
button:focus-visible {
  background-color: var(--button-hover-background);
}

button:active {
  color: var(--button-active-color);
}

button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}